.flex-container {
  display: flex;
  /*flex-direction: row;
  flex-wrap: nowrap;*/
  justify-content: center;
}

/* Flex Container 1 */

.flex-container-1 {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* Flex Container 2 */
.flex-container-2 {
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* Flex Container 3 */
/* use height: 400px; on the container */
.flex-container-3 {
  flex-flow: column-reverse wrap;
  align-items: flex-end;
  height: 400px;
}

/* Flex Container 4 */
.flex-container-4 {
  flex-flow: wrap-reverse;
  justify-content: space-evenly;
}

/* Flex Container 5 */
.flex-container-5 {
  display: flex;
  align-items: center;
}

.flex-container-5 .item1,
.flex-container-5 .item3,
.flex-container-5 .item6 {
  height: 300px;
}

.flex-container-5 .item2,
.flex-container-5 .item8 {
  height: 400px;
}

.flex-container-5 .item4,
.flex-container-5 .item5,
.flex-container-5 .item7 {
  height: 200px;
}

/* Flex Container 6 */

.flex-container-6 {
  flex-flow: column wrap;
  justify-content: flex-start;
  height: 300px;
}

.flex-container-6 .flex-item {
  width: 250px;
}

/* use height: 300px; on the container */
