:root {
  --darkviolet: #9400d3;
  --maroon: #800000;
  --darkgolden: #8f6805;
  --purple: #c003ff;
}

.main {
  margin-top: 100px;
}

.box {
  padding: 10px;
  color: var(--white);
}

.static {
  position: static;
  background-color: var(--darkviolet);
  width: 300px;
  height: 400px;
}

.relative {
  position: relative;
  background-color: var(--purple);
  top: -420px;
  left: 350px;
  width: 300px;
  height: 400px;
}

.absolute {
  position: absolute;
  background-color: var(--maroon);
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
}

.fixed {
  position: fixed;
  background-color: var(--darkgolden);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
}
