:root {
  --green: #009a00;
  --violetred: #96005f;
  --gold: #ffd000;
  --black: #000000;
  --white: #ffffff;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--black);
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li :hover {
  background-color: grey;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: var(--white);
  /*margin: 1em;*/
  padding: 0.5em 1em;
}

.main {
  margin-top: 80px;
}

body {
  background: var(--violetred);
  color: var(--black);
}

@media (max-width: 414) {
  nav ul li {
    width: 100%;
  }

  body {
    margin-top: 250px;
  }
}

@media (min-width: 415px) {
  body {
    background: var(--gold);
    color: var(--black);
  }
}

@media (min-width: 1024px) {
  body {
    background: var(--green);
    color: var(--white);
  }
}
